@model ICollection<Question>
@{
    ViewData["Title"] = "All Questions";
}

<h1>@ViewData["Title"]</h1>

@foreach (var question in Model)
{
    <div class="card mt-2">
        <div class="card-header d-flex justify-content-between flex-wrap">
            <div class="me-2">
                <span>@question.ViewsCount</span>
                <span class="me-1">views</span>
                <a class="link-dark fw-bold text-decoration-none" asp-controller="Questions" asp-action="Question">@question.Title</a>
            </div>

            <div>
                @if (question.Tags != null)
                    @foreach (var tag in question.Tags)
                    {
                        <span class="m-1 mb-0 bg-secondary text-white badge">@tag.DisplayName</span>
                    }
            </div>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p style="font-size: medium; height: 45px; overflow: hidden;">@question.Content</p>
                <footer class="blockquote-footer fs-6 d-flex">
                    <span>@question.PublisedDate.ToShortDateString()</span>
                    <cite class="ms-2">@question.Author.UserName</cite>
                </footer>
            </blockquote>
        </div>
    </div>
}

