@model QuestionViewModel
@inject SignInManager<User> signInManager;

<form method="post">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-lg modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h4 class="modal-title text-white" id="staticBackdropLabel">To answer a question, you must sign up for an account</h4>
                    <button type="button" class="btn-close btn-light btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <a type="button" asp-controller="Autorization" asp-action="Login" asp-route-returnUrl="@Context.Request.Path" class="btn btn-secondary shadow-none">Log In</a>
                    <a type="button" asp-controller="Autorization" asp-action="SignUp" asp-route-returnUrl="@Context.Request.Path" class="btn btn-outline-secondary shadow-none">Sing Up</a>
                </div>
            </div>
        </div>
    </div>

    <ul class="list-group rounded-0 m-3">
        <li class="list-group-item border-0">
            <h1>@Model.Question.Title</h1>
            <div class="d-flex">
                <div class="text-secondary me-2">Views <span>@CodeHelper.Core.Extensions.CalculateNumber(Model.Question.ViewsCount)</span></div>
                <div class="text-secondary me-2">Asked <span>@Model.PublishedDate</span></div>
                <div>
                    @if (Model.Question.Tags != null)
                        @foreach (var tag in Model.Question.Tags)
                        {
                            <span class="m-1 mb-0 bg-secondary text-white badge">@tag.Name</span>
                        }
                </div>
            </div>
        </li>
        <li class="list-group-item border-0">
            <div class="card hover-card p-3">
                <textarea asp-for="Question.Content" class="mb-3 readOnlyEditor"></textarea>
                @if (Model.Question.Author?.UserName == User?.Identity?.Name)
                {
                    <span class="d-flex justify-content-end">
                        <button asp-controller="Questions" asp-action="EditQuestion" asp-route-questionId="@Model.Question.Id" class="btn btn-outline-secondary btn-visibility p-0 pb-1 px-1 me-2 my-auto shadow-none" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-code" viewBox="0 0 16 16">
                                <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
                                <path d="M8.646 6.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 9 8.646 7.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 9l1.647-1.646a.5.5 0 0 0 0-.708z" />
                            </svg>
                            <span>Edit Question</span>
                        </button>
                    </span>
                }
            </div>
        </li>
        <li class="list-group-item border-0">
            @if (Model.Question.Answers.Count > 0)
            {
                <h4><span>@Model.AnswersCount</span> Answers</h4>

                @for (int i = 0; i < Model.Question.Answers.Count; i++)
                {
                    <div id="answerCard" class="card p-3 mt-2 hover-card">
                        <div class="justify-content-start mb-1 d-flex">
                            <span class="badge  @(Model.Question.Answers[i].IsAcceptedAnswer ? "" : "collapse") rounded-pill bg-success me-2 my-auto shadow-none" style="font-size: 13px;" id="accepted_badge+@Model.Question.Answers[i].Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg>
                                Accepted
                            </span>

                            <span class="badge rounded-pill bg-secondary me-2 p-2 my-auto"><span class="me-1 my-auto" id="likesCount+@Model.Question.Answers[i].Id">@Model.Question.Answers[i].LikesCount</span>Likes</span>

                            @if (signInManager.IsSignedIn(User))
                            {
                                <button class="btn btn-outline-secondary p-0 px-1 my-auto me-2 btn-visibility shadow-none" type="button" id="btn_like_dislike+@Model.Question.Answers[i].Id" onclick="SetLikeAnswer(@Model.Question.Answers[i].Id)">
                                    @if (!Model.Question.Answers[i].IsLikedAnswer)
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                            <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                        </svg>
                                        <span>Like</span>
                                    }
                                    else
                                    {
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                            <path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                                        </svg>
                                        <span>Dislike</span>
                                    }
                                </button>

                                if (Model.Question.Author.UserName == User?.Identity?.Name)
                                {
                                    <button runat="server" class="btn @(Model.Question.Answers[i].IsAcceptedAnswer ? "btn-outline-danger" : "btn-outline-success") p-0 px-1 me-2 my-auto btn-visibility shadow-none" type="button" id="btn_accept+@Model.Question.Answers[i].Id" onclick="SetAcceptedAnswer(@Model.Question.Answers[i].Id, @Model.Question.Id)">
                                        @if (!Model.Question.Answers[i].IsAcceptedAnswer)
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                            </svg>
                                            <span>Accept</span>
                                        }
                                        else
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle pb-1" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                            </svg>
                                            <span>Cancel</span>
                                        }
                                    </button>
                                }
                            }
                        </div>

                        <div id="readOnlyEditor+@Model.Question.Answers[i].Id">
                            <textarea asp-for="@Model.Question.Answers[i].Content" class="readOnlyEditor"></textarea>
                        </div>

                        <input asp-for="@Model.AnswersContent[i].Id" class="d-none"></input>
                        <div id="editor+@Model.Question.Answers[i].Id" class="d-none mt-1 mb-4">
                            <textarea asp-for="@Model.AnswersContent[i].Value" class="editor"></textarea>
                        </div>
                        
                        <blockquote class="blockquote mb-0 mt-2">
                            <footer class="blockquote-footer fs-6">
                                <span>@Model.Question.Answers[i].PublisedDate.ToShortDateString()</span>
                                <cite class="ms-2">@Model.Question.Answers[i].User?.UserName</cite>
                            </footer>
                        </blockquote>

                        @if (Model.Question.Answers[i].User?.UserName == User?.Identity?.Name)
                        {
                            <span id="editAnswerButton+@Model.Question.Answers[i].Id" class="d-flex justify-content-end">
                                <button class="btn btn-outline-secondary btn-visibility p-0 pb-1 px-1 me-2 my-auto shadow-none" type="button" onclick="EditAnswer(@Model.Question.Answers[i].Id)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-code" viewBox="0 0 16 16">
                                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
                                        <path d="M8.646 6.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 9 8.646 7.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 9l1.647-1.646a.5.5 0 0 0 0-.708z" />
                                    </svg>
                                    <span>Edit Answer</span>
                                </button>
                            </span>

                            <span id="editAnswerButtons+@Model.Question.Answers[i].Id" class="d-flex justify-content-end d-none">
                                <button asp-controller="Questions" asp-action="SaveAnswer" asp-route-answerId="@Model.Question.Answers[i].Id" class="btn btn-outline-secondary p-0 pb-1 px-1 me-2 my-auto shadow-none" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                    </svg>
                                    <span>Save Changes</span>
                                </button>
                                <button class="btn btn-outline-secondary p-0 pb-1 px-1 me-2 my-auto shadow-none" type="button" onclick="EditAnswer(@Model.Question.Answers[i].Id)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                    </svg>
                                    <span>Cancel</span>
                                </button>
                            </span>
                        }
                    </div>
                }

                @if (Model.Pagination.PageCount > 1)
                {
                    <nav aria-label="Page navigation example" class="mt-3">
                        <ul class="pagination border-secondary">
                            <li class="page-item @(Model.Pagination.CurrentPage - 1 <= 0 ? "disabled" : "")">
                                <a class="page-link" asp-controller="Questions" asp-action="Question" asp-route-questionId="@Model.Question.Id" asp-route-page="@(Model.Pagination.CurrentPage - 1)">Previous</a>
                            </li>
                            <li class="page-item @(Model.Pagination.CurrentPage == 1 ? "active" : "")">
                                <a class="page-link" asp-controller="Questions" asp-action="Question" asp-route-questionId="@Model.Question.Id" asp-route-page="1">1</a>
                            </li>

                            @if (Model.Pagination.CurrentPage > 4)
                            {
                                <li class="page-item text-secondary m-2 mx-3 mb-0">...</li>
                            }

                            @for (int i = Model.Pagination.StartPage; i < Model.Pagination.EndPage; i++)
                            {
                                <li class="page-item @(Model.Pagination.CurrentPage == i ? "active" : "")">
                                    <a class="page-link" asp-controller="Questions" asp-action="Question" asp-route-questionId="@Model.Question.Id" asp-route-page="@i">@i</a>
                                </li>
                            }

                            @if (Model.Pagination.EndPage < Model.Pagination.PageCount)
                            {
                                <li class="page-item text-secondary m-2 mx-3 mb-0">...</li>
                            }

                            <li class="page-item @(Model.Pagination.CurrentPage == Model.Pagination.PageCount ? "active" : "")">
                                <a class="page-link" asp-controller="Questions" asp-action="Question" asp-route-questionId="@Model.Question.Id" asp-route-page="@Model.Pagination.PageCount">@Model.Pagination.PageCount</a>
                            </li>
                            <li class="page-item @(Model.Pagination.CurrentPage + 1 > Model.Pagination.PageCount ? "disabled" : "")">
                                <a class="page-link" asp-controller="Questions" asp-action="Question" asp-route-questionId="@Model.Question.Id" asp-route-page="@(Model.Pagination.CurrentPage + 1)">Next</a>
                            </li>
                        </ul>
                    </nav>
                }
            }
        </li>
        <li class="list-group-item border-0">
            <h4>Add your solution here</h4>
            <textarea asp-for="AnswerContent" class="mb-3 editor"></textarea>
            @if (signInManager.IsSignedIn(User))
            {
                <button type="submit" asp-controller="Questions" asp-action="PushAnswer" asp-route-answerContent="@Model.AnswerContent" asp-route-questionId="@Model.Question.Id" class="btn btn-outline-dark my-3 shadow-none">Post Answer</button>
            }
            else
            {
                <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-outline-dark my-3 shadow-none">Post Answer</button>
            }
        </li>
    </ul>
</form>
<script type="text/javascript">
    function SaveAnswer(answerId, answerContent) {
        var data = 
        { 
            "answerId": answerId,
            "answerContent": answerContent
        }
        $.ajax({
            type: 'POST',
            url: '/Questions/SaveAnswer',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: data
        })
    }
    
    function EditAnswer(answerId) {
        var data = { "answerId": answerId }
        $.ajax({
            type: 'POST',
            url: '/Questions/EditAnswer',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: data,
            success: function (data) {
                var editorId = 'editor+' + answerId;
                var readOnlyEditorId = 'readOnlyEditor+' + answerId;
                var editAnswerButtonId = 'editAnswerButton+' + answerId;
                var editAnswerButtonsId = 'editAnswerButtons+' + answerId;

                var editor = document.getElementById(editorId);
                var readOnlyEditor = document.getElementById(readOnlyEditorId);
                var editAnswerButton = document.getElementById(editAnswerButtonId);
                var editAnswerButtons = document.getElementById(editAnswerButtonsId);

                editor.classList.toggle('d-none');
                readOnlyEditor.classList.toggle('d-none');
                editAnswerButton.classList.toggle('d-none');
                editAnswerButtons.classList.toggle('d-none');
            }
        })
    }

    function SetLikeAnswer(answerId) {

        var id = 'btn_like_dislike+' + answerId;
        var isLikedAnswer = document.getElementById(id).innerHTML.match('Dislike') == null;

        var data = 
        { 
            "answerId": answerId,
            "isLikedAnswer": isLikedAnswer
        }
        $.ajax({
            type: 'POST',
            url: '/Questions/SetLikeAnswer',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8', 
            data: data,
            success: function (data) {
                
                var id = 'likesCount+' + answerId
                document.getElementById(id).innerHTML = data;

                ClickLike_Dislike(answerId, isLikedAnswer);
            }
        })
    }

    function SetAcceptedAnswer(answerId, questionId) {

        var id = 'btn_accept+' + answerId;
        var accepted_badge_id = 'accepted_badge+' + answerId;
        var isAcceptedAnswer = document.getElementById(id).innerHTML.match('Accept') == null;

        var data =
        {
            "answerId": answerId,
            "questionId": questionId
        }
        $.ajax({
            type: 'POST',
            url: '/Questions/SetAcceptedAnswer',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: data,
            success: function (data) {
                var template = '';
                var element = document.getElementById(id);

                if (isAcceptedAnswer == true) {
                    template = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg>
                                Accept`;

                    element.classList.add('btn-outline-success');
                    element.classList.remove('btn-outline-danger');
                    document.getElementById(accepted_badge_id).classList.add('collapse');
                }
                else {
                    template = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle pb-1" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                                Cancel`;

                    element.classList.add('btn-outline-danger');
                    element.classList.remove('btn-outline-success');
                    document.getElementById(accepted_badge_id).classList.remove('collapse');
                }

                element.innerHTML = template;
            }
        })
    }

    function ClickLike_Dislike(answerId, isLikedAnswer) {
        var template = '';
        var id = 'btn_like_dislike+' + answerId;

        if (isLikedAnswer == false)
        {
            template = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                            <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                        </svg>
                        Like`;
        }
        else
        {
            template = ` <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                            <path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                        </svg>
                        Dislike`;
        }

        document.getElementById(id).innerHTML = template;
    }
</script>